@use 'variables';
@use 'mixins';

:host {
  @include mixins.dark-bg;

  display: block;
  margin-bottom: 5px;
}

.films-list-page {
  padding: 20px;

  .films-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px 10px;
    place-items: start center;

    max-width: 1440px;
    margin: auto;
  }

  .empty-state {
    font-size: clamp(16px, 3vw, 4em);
    color: variables.$glitch-red;
    text-align: center;
  }
}
