@use 'variables';
@use 'mixins';

:host {
  @include mixins.dark-bg;

  display: block;
  margin-bottom: 5px;
}

.films-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px 10px;

  max-width: 1440px;
  margin: auto;
}
