@use 'variables';

.favorite-toggle {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  height: 40px;
  border-radius: 100%;

  background-color: variables.$accent-green;

  transition: background-color 0.2s;

  &.favorite {
    background-color: variables.$accent-pink;

    .favorite-icon {
      font-variation-settings: 'FILL' 1;
    }
  }

  &:hover {
    transform: scale(0.9);
    background-color: variables.$accent-pink;

    .favorite-icon {
      font-variation-settings: 'FILL' 1;
    }
  }
}
