@use 'variables';

@mixin dark-bg {
  border-radius: variables.$radius-md;
  background-color: variables.$primary-dark;
  background-image: image-set(
    url('/img/noise-bg-webp.webp') type('image/webp'),
    url('/img/noise-bg-avif') type('image/avif'),
    url('/img/noise-bg.png') type('image/png')
  );
  background-size: 100px;
}

@mixin hover-animation {
  transition: all 0.2s ease-in-out;

  &:hover {
    border-radius: variables.$radius-sm;
    color: variables.$primary-dark;
    background-color: variables.$accent-green;
  }
}
