// B O R D E R     R A D I U S
$radius-sm: 10px;
$radius-md: 20px;

// C O L O R     S H E M A
$primary-dark: #000;
$primary-light: rgb(228 228 213);
$accent-green: #1ef438;
$accent-pink: #fc52fb;
$glitch-blue: #00ff;
$glitch-red: #ee3f24;
