// B O R D E R     R A D I U S
$radius-sm: 10px;
$radius-md: 20px;

// C O L O R     S H E M A
$primary-dark: #fff;
$primary-light: #f4f1de;
$accent-green: #1ef438;
$accent-pink: #fc52fb;
$glitch-blue: #00ff;
$glitch-red: #ee3f24;
