<div class="detailed-container">
  <div class="detailed-description">
    {{ film?.description }}
  </div>
  <div class="detailed-info">
    <p class="info-text">{{ film?.year }} year</p>
    <p class="info-text">
      <span class="material-symbols-outlined"> star </span>
      {{ film?.rating }}
    </p>
    <p class="info-text">
      <span class="material-symbols-outlined"> theaters </span>
      {{ film?.genre }}
    </p>
    <p class="info-text">
      <span class="material-symbols-outlined"> hourglass_empty </span>
      {{ film?.duration | duration }}
    </p>
  </div>
  <div class="detailed-poster">
    <img class="film-img" [src]="film?.posterUrl" alt="film poster" />
  </div>
  <h5 class="film-title">{{ film?.title }}</h5>
</div>
