@use 'variables';

:host {
  display: block;
  margin: 0 10px;
}

.app-title {
  margin: 5px 0;
  border-radius: variables.$radius-md;

  font-size: clamp(1rem, 8vw, 7rem);
  text-align: center;

  background: url('/img/noise-bg.png');
  background-size: 100px;
}
