@use 'variables';
@use 'mixins';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 10px;
}

.app-title {
  @include mixins.dark-bg;

  margin: 5px 0;
  font-size: clamp(1rem, 8vw, 7rem);
  text-align: center;
}
