@use 'variables';

.film-card {
  min-height: 500px;
  padding: 10px;
  color: variables.$primary-light;

  .film-info {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;

    .info-text {
      padding: 0 10px;
      border: 1px solid;
      border-radius: 20px;

      font-size: 12px;
      font-weight: bold;
    }
  }

  .film-poster {
    aspect-ratio: 9 / 14;

    .poster-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .film-card-footer {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .film-name {
      margin: 0;
      font-size: 28px;
      font-weight: normal;
      text-align: left;
    }
  }
}
