@let film = filmData();

<a class="film-card" routerLink="film/{{ film.id }}">
  <div class="film-info">
    <span class="info-text">{{ film.genre }}</span>
    <span class="info-text">{{ film.year }}</span>
    <span class="info-text">{{ film.rating }}</span>
  </div>
  <div class="film-poster">
    <img class="poster-img" [src]="film.posterUrl" alt="film poster" />
  </div>
  <div class="film-card-footer">
    <h5 class="film-name">{{ film.title }}</h5>
    <button class="favorite-toggle">
      <span class="material-symbols-outlined favorite-icon"> favorite </span>
    </button>
  </div>
</a>
