<div class="about-container">
  <div class="about-text">
    <p>
      Hi, it's me, Anastasia! This website was created as part of The Angular course educational project at The Rolling
      Scope School.
    </p>
    <a
      class="about-link"
      href="https://github.com/rolling-scopes-school/tasks/blob/master/angular/tasks/angular-intro-task/README.md"
      target="_blank"
    >
      [ Task Description ]
    </a>
    <a class="about-link" href="https://rs.school/" target="_blank">[ The Rolling Scope School ]</a>
  </div>
  <img class="its-me-gif" src="/gif/its-me-anastasia.gif" alt="gif" />
</div>
