@use 'styles/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Orbitron, sans-serif;
  color: variables.$primary-light;
  background-color: variables.$primary-dark;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
